@model MVC5Course.Models.Client

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Client</h4>
        <hr />
        
        <!--套用 DisplayTemplate，模版來源：Views/Shared/DisplayTemplates/Client.cshtml-->
        @Html.DisplayFor(m => m)

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
