@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">錯誤發生 @(Model.ControllerName)/@(Model.ActionName) @(Model.Exception.Message) Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<!--此為未預期例外發生給 User 看，對開發人員沒幫助，需要儲存 Log-->

<pre>
@(Model.Exception.ToString())
</pre>
